@media screen and (max-width: 1600px){
  .Tile{
    width: 33.3%;
  }
  .TopContainer .TopSideContainer:last-child{
    display: flex;
  }
  .TopSideContainer{
    width: 25%;
  }
  .TopSideContainer div{
    margin-left: 10%;
  }
  .TopMiddleContainer{
    width: 50%;
    justify-content: center;
    margin-right: 0%;
  }
  .MainProjectContainer{
    width: 65%;
    margin: auto;
    margin-top: 10px;
    font-size: 22px;
  }
  .Video{
      margin: 50px auto;
  }
}
@media screen and (max-width: 1200px){
  .Tile{
    width: 33.3%;
  }
  .TopContainer .TopSideContainer:last-child{
    display: flex;
  }
  .TopSideContainer{
    width: 25%;
  }
  .TopSideContainer div{
    margin-left: 10%;
  }
  .TopMiddleContainer{
    width: 50%;
    justify-content: center;
    margin-right: 0%;
  }
  .MainProjectContainer{
    width: 75%;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
  }
  .Video{
      margin: 50px auto;
  }
}
