* {
  box-sizing: border-box;
  font-family: Sylfaen !important;
}
body{
	background-color: white;
	padding: 0;
	margin: 0;
	border: 0;
}
.Whole{
	width: 100%;
  height: 800px;
	padding: 0;
	border: 0;
}
a{
  text-decoration: none;
  color: #0081d6;
}
a:visited{
  color: #0081d6;
}
.TopContainer{
  background-color: white;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}
.TopMiddleContainer{
  float: left;
  background-color: #FFFFFF00;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopMiddleContainer a{
  color: black;
  display: block;
  text-align: center;
  font-size: 40px;
}
.TopMiddleContainer a:hover{
  color: #0081d6;
}
.TopSideContainer{
  float: left;
  height: 100%;
  width: 25%;
}
.TopSideContainer div{
  clear: both;
  height: 40px;
  margin-left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}
.TopSideContainer a{
  margin-left: 5px;
}
.MainContainer{
  width: 95%;
  margin: auto;
  margin-top: 10px;
}
.Tile{
  float: left;
  position: relative;
  width: 25%;
  aspect-ratio: 16/9;
  text-align: center;
  border: 1px solid gray;
}
.Tile:hover{
  cursor: pointer;
}
.Tile:hover .TileName{
  background-color: #0081d6aa;
}
.TileImage{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.TileName{
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #000000AA;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.MainProjectContainer{
  width: 60%;
  margin: auto;
  margin-top: 10px;
  font-size: 22px;
}
.Video{
  display: block;
  text-align: center;
  margin: 50px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
