@media screen and (max-width: 600px) {
  .Tile{
    width: 100%;
  }
  .TopContainer{
    height: 64px;
  }
  .TopContainer .TopSideContainer:last-child{
    display: none;
  }
  .TopSideContainer{
    width: 50%;
  }
  .TopSideContainer div{
    margin-left: 2.5%;
    font-size: 16px;
    height: 32px;
  }
  .TopMiddleContainer{
    width: 47.5%;
    justify-content: flex-end;
    margin-right: 2.5%;
  }
  .TopMiddleContainer a{
    font-size: 32px;
  }
  .MainProjectContainer{
    width: 95%;
    margin: auto;
    margin-top: 5px;
    font-size: 18px;
  }
  .Video{
      margin: 20px auto;
  }
}
